.footer-section {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 5rem 20rem;
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.footer-underline {
    width: 100%;
    height: 2px;
    background-color: #fff;
}

@media (max-width: 1024px){
    .footer-section{
        padding: 4rem 8rem;
    }
}

@media screen and (max-width: 768px){
    .footer-section {
        display: flex;
        flex-direction: column;
        color: #fff;
        padding: 5rem 2rem;
    }

}