@keyframes colorChange {
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
  }

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
    gap: 7rem;
}

.hero-content {
    width: 40%;
    align-items: center;
    justify-content: center;
}

.profile-image img{
    height: 50vh;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.hero-h1 {
    font-size: 4rem;
    font-weight:bolder;
    color: #fff;
    margin-bottom: 1rem;
    margin: 0;
}

.hero-h2{
    font-weight: 400;
    font-size: 1.3rem;
}

.highlight {
    animation: colorChange 9s infinite linear;
  }

.hero-buttons{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

@media (max-width: 1024px) {
    .hero-buttons{
        font-size: 1rem;
        gap: 10px;
    }
}


@media screen and (max-width: 768px) {
    .profile-image{
        display: none;
    } 

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        gap: 7rem;
    }
    
    .hero-content {
        width: 90%;
        align-items: center;
        justify-content: center;
    }
        
    .hero-h1 {
        font-size: 3.5rem;
        font-weight:bolder;
        text-align: center;
        color: #fff;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    
    .hero-h2{
        font-weight: 400;
        font-size: 1.3rem;
        text-align: center;
    }
    
    .highlight {
        animation: colorChange 9s infinite linear;
      }
    
    .hero-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.25rem;
        margin-top: 4rem;
    }
    
/*     
    
    .hero {
        flex-direction: column;
        gap: 2rem;
        width: 100vw;
    }

    .hero-content {
        width: 90%;
        align-items: center;
        justify-content: center;
    }

    .hero-h1 {
        font-size: 3rem;
        margin-top: 150px;
    }

    .hero-h2 {
        font-size: 1rem;
    }

    .hero-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;
    }
    
    .profile-image{
        display: none;
    } */

  }
