.skill-grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap:40px;
    margin-top: 2rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px){
    .skill-grid-container {
        margin-top: 2rem;
    }
    
    .skill-grid {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        gap:20px;
        margin-top: 2rem;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
}
