.social-links {
    display: inline-flex;
    background: linear-gradient(100deg,#05411F,#1E3729) ;
    width: auto;
    height: 2rem;
    padding: 0.8rem 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #fff;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 100%;
}